# R session files
.RData
.Rhistory
.Ruserdata

# RStudio local state
.Rproj.user/

# Jupyter checkpoints
.ipynb_checkpoints/

# Instructor-provided lecture materials
Lectures/

# Ignore .html files (normally created using Knit in R-studio)
.html